.bodybar {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: black red;
    /* scroll thumb and track */
}

.bodybar::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.bodybar::-webkit-scrollbar-track {
    background: black;
    /* color of the tracking area */
}

.bodybar::-webkit-scrollbar-thumb {
    background-color: red;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid black;
    /* creates padding around scroll thumb */
}

.bodybar-blue {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: #133760 red;
    /* scroll thumb and track */
}

.bodybar-blue::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.bodybar-blue::-webkit-scrollbar-track {
    background: #133760;
    /* color of the tracking area */
}

.bodybar-blue::-webkit-scrollbar-thumb {
    background-color: red;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #133760;
    /* creates padding around scroll thumb */
}


.button-container .btn1 {
    display: inline-block;
    position: relative;
}

.button-container .btn1 a {
    position: absolute;
    bottom: 4em;
    right: 4em;
    background-color: #8F0005;
    border-radius: 1.5em;
    color: white;
    text-transform: uppercase;
    padding: 1em 1.5em;
}

@media only screen and (max-width:600px) {

    .button-container .btn1 {
        display: inline-block;
        margin-bottom: 2em;
    }

    .button-container .btn1 a {
        position: relative;
        bottom: 0em;
        right: -2em;
        background-color: #8F0005;
        color: white;
        font-size: 1em;
        padding: 1em 1.5em;
        text-transform: uppercase;
        border-color: white;
        border-radius: 1.5em;
    }
}



.button-container .btn1 a:hover {
    background-color: red;
    cursor: pointer;
    color: white;
}



/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
    /* Base font size */
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fafafa;
}

.container {
    max-width: 150vh;
    margin: 0 auto;
    padding: 0em ;
}

.heading {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    padding: 3.5rem 0;
    color: #1a1a1a;
}

.heading span {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}


/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }
}


/* ----------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.button-container {
    display: inline-block;
    position: relative;
}

.button-container .btn1 {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 4em;
    right: 1em;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-color: #ffffff4f;
    box-shadow: 1px 1px 1px 1px #8888882f;
    color: rgba(255, 255, 255, 0.626);
    text-transform: uppercase;
}

.button-container .btn1:hover {
    background-color: red;
    color: white;
}

.button-container .btn2 {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px 5px 10px;
    background-color: #ffffff4f;
    box-shadow: 1px 1px 1px 1px #8888882f;
    color: rgba(255, 255, 255, 0.626);
    text-transform: uppercase;
}

.button-container .btn2:hover {
    background-color: red;
    color: white;
}

@media only screen and (max-width:  768px) {
    .button-container .btn1 {
       
        bottom: 4em;
      
    }
    .button-container .btn2 {
       
        bottom: 1em;
      
    }

}

@media only screen and (max-width: 600px) {
    .button-container .btn1 {
       
        bottom: 2em;
      
    }
    .button-container .btn2 {
       
        bottom: 1em;
      
    }

}

